@import "tailwindcss";

html,
body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  background-color: #f7f7f5;
  color: #0e0e0e;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
